<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<servlet>
		<servlet-name>AppEngineToDo</servlet-name>
		<servlet-class>com.democo.gae.java.todo.AppEngineToDoServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AppEngineToDo</servlet-name>
		<url-pattern>/AppEngineToDo</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>addcourse</servlet-name>
		<servlet-class>com.democo.gae.java.todo.AddCourseServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>addcourse</servlet-name>
		<url-pattern>/addcourse</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>getAllCourses</servlet-name>
		<servlet-class>com.democo.gae.java.todo.GetAllCourses</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>getAllCourses</servlet-name>
		<url-pattern>/getAllCourses</url-pattern>
	</servlet-mapping>
	
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>
